@font-face {
  font-family: "JoeReg";
  src: url("/fonts/PPMori-Regular.otf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "JoeSemi";
  src: url("/fonts/PPMori-SemiBold.otf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "JoeLight";
  src: url("/fonts/PPMori-Extralight.otf");
  font-weight: lighter;
  font-display: swap;
}

html {
  font-family: JoeLight, Arial, Helvetica, sans-serif;
}
